body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #333;
  padding-top: 20px;
  position: fixed;
}

.sidebar nav a {
  display: block;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
}

.sidebar nav a.active {
  background-color: #575757;
}

.sidebar nav a:hover {
  background-color: #575757;
}

.app-content {
  margin-left: 250px;
  width: calc(100% - 250px);
}
